body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #F2F7F9;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

h4, a {
    display: block;
    background-color: #BFD4E4;
    width: auto;
    padding: 5px 10px 5px 10px;
    margin: 10px;
    border: none;
    border-radius: 10px;
}

a {
    text-decoration: none;
    color: black;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
}

input[type="text"],
input[type="email"],
input[type="password"],
button[type="submit"] {
    width: 100%;
    border: none;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 40px;
}

button[type="submit"] {
    margin-top: 10px;
}